apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "operator.fullname" . }}-manager-role
rules:
  # 1. Permissions for VirtualMachines (Read-only for Inventory)
  - apiGroups:
      - kubevirt.io
    resources:
      - virtualmachines
      - virtualmachines/status
    verbs:
      - get
      - list
      - watch
  # 2. Permissions for VirtualMachineInstances (For IP/Node data)
  - apiGroups:
      - kubevirt.io
    resources:
      - virtualmachineinstances
    verbs:
      - get
      - list
      - watch
  # 3. If you implement the "Reaper" logic later, you need 'delete' here:
  - apiGroups:
      - kubevirt.io
    resources:
      - virtualmachines
    verbs:
      - delete

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "operator.fullname" . }}-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "operator.fullname" . }}-manager-role
subjects:
  - kind: ServiceAccount
    name: {{ include "operator.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
